<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/git_logo.gif" alt="GitHub Logo Image">
        </header>
        {{{body}}}
    </body>
</html>
